<!DOCTYPE html>
<html lang="pt-br">
    {% include head.html %}
    <head>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <script>
          (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-5012699001635479",
          enable_page_level_ads: true
        });
      </script>
        <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106744514-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments)};
        gtag('js', new Date());

        gtag('config', 'UA-106744514-1');
      </script>
    </head>
    <body>
        {% include svg-icons.html %}
        {% include header-post.html %}
        {% include tree-posts.html %}
        <section class="post" itemscope itemtype="http://schema.org/BlogPosting">
            {% if page.date %}
                <div class="time">
                    <time itemprop="datePublished" datetime="{{ page.date }}">{{ page.date | date_to_string }}</time>
                </div>
            {% endif %}
            <h1 class="post-title" itemprop="name">{{ page.title }}</h1>

            <article role="article" id="scroll" class="post-content" itemprop="articleBody">
                {{ content }}
                {% include advertisements.html %}
            </article>

            {% include share.html %}
            {% include comments.html %}
            {% include footer.html %}
            {% include scripts.html %}
        </section>
    </body>
</html>
