<!DOCTYPE html>
<html lang="pt-br">
    {% include head.html %}
    <head>
        <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106744514-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments)};
        gtag('js', new Date());

        gtag('config', 'UA-106744514-1');
      </script>
    </head>
    <body>
        {% include svg-icons.html %}
        {% include header-post.html %}
        {% include tree-posts.html %}
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-5012699001635479"
     data-ad-slot="9244142234"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
        <section class="post" itemscope itemtype="http://schema.org/BlogPosting">
            {% if page.date %}
                <div class="time">
                    <time itemprop="datePublished" datetime="{{ page.date }}">{{ page.date | date_to_string }}</time>
                </div>
            {% endif %}
            <h1 class="post-title" itemprop="name">{{ page.title }}</h1>

            <article role="article" id="scroll" class="post-content" itemprop="articleBody">
                {{ content }}
                {% include advertisements.html %}
            </article>

            {% include share.html %}
            {% include footer.html %}
            {% include scripts.html %}
            {% include disqus.html %}
        </section>
    </body>
</html>
